@page "/"
@inject IJSRuntime JSRuntime;

<PageTitle>BlazorThree</PageTitle>

<!-- <div id="blazor-three"></div> -->


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           await JSRuntime.InvokeVoidAsync("window.bt.initScene");
        }
    }

}